:root{
    --clr-dark: #000000;
    --clr-dark-light: #555555;

    --clr-white: #ffffff;

    --clr-success: #09ff00;
    --clr-danger: #ff0000;
    --clr-loading: #00aeff;

    --brd-default: 1px solid var(--clr-dark);
}